body{
    font-family: Roboto,Arial,Helvetica,sans-serif;
}

a:-webkit-any-link {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

.logo{
    width: 30%;
    margin:200px;
}


.black-line{
    height: 20px;
    background-color: black;
}

.navigator{
    text-align: center;
    font-size: 120px;
    color:black;
    font: Arial;
}

.PRODUCTS{
    font-weight: 600;
    background-color: yellow;
    padding: 0;
    display: inline;
    box-shadow: 40px 0 0 yellow, -40px 0 0 yellow;
}

.main-content h1{
    font-size: 140px;
    font-weight: 500;
    margin-top: 400px;
    margin-bottom: 200px;
}


.main-content > img{
    width: 50%;
    border: 20px solid black;
}

.items{
    width: 1500px;
    height: auto;
    margin: auto;
}

.detailed-content{
    width: 1600px;
    margin: auto;
    background-color: blue;
    text-align: left;
}

.items > div{
    margin-bottom: 250px;
}

.items > div:hover{
    background-color: yellow;
}

.items img {
    margin-top: 20px;
    width: 1460px;
    height: 1460px;
    box-sizing: border-box;
    border: 20px solid black;
}

.items p {
    margin: 10px auto 10px auto;
    text-decoration: underline;
    text-decoration-color: darkolivegreen;
    text-decoration-thickness: 5px;
    text-align: left;
    margin-left: 20px;
    font-size: 120px;
}


/* styles for jobdown menu*/
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content p:hover {background-color: #f1f1f1}

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
