body{
    font-family: Roboto,Arial,Helvetica,sans-serif;
}

p{
    font-size: 120px;
}

.triangle-down {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 50px solid #555;
    align-self: center;
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

.logo{
    width: 30%;
    margin:200px;
}


.black-line{
    height: 20px;
    background-color: black;
}

.navigator{
    text-align: center;
    font-size: 120px;
    color:black;
    margin-top: 100px;
}

.PRODUCTS{
    font-weight: 600;
    background-color: yellow;
    padding: 0;
    display: inline;
    box-shadow: 40px 0 0 yellow, -40px 0 0 yellow;
}

.main-content h1{
    font-size: 140px;
    font-weight: 500;
    margin-top: 400px;
    margin-bottom: 200px;
    text-align: center;
}


.main-content > img{
    width: 50%;
    border: 20px solid black;
    margin-left: 25%;
    margin-right:25%;
}

.items{
    width: 1500px;
    height: auto;
    margin: auto;
}

.detailed-content{
    width: 1600px;
    margin: auto;
    text-align: left;
    margin-bottom:500px ;
}

.items > div{
    padding-bottom: 20px;
    margin-bottom: 250px;
}

.items > div:hover{
    background-color: yellow;
}

.items img {
    margin-top: 20px;
    margin-left: 20px;
    width: 1460px;
    height: 1460px;
    box-sizing: border-box;
    border: 20px solid black;
}

.items p {
    margin: 10px auto 10px auto;
    text-align: left;
    margin-left: 20px;
    font-size: 120px;
}

/*make sure the price is not underlined in product gallery page */
p.item-name {
    text-decoration: underline;
    text-decoration-color: darkolivegreen;
    text-decoration-thickness: 5px;
}

.dropdown{
    margin-top: 200px;
    margin-bottom: 200px;
    height: auto;
}

.dropdown > p {
    margin-bottom: 50px;
}

.dropbtn {
  border:10px solid black;
  padding-left: 70px;
  cursor: pointer;
  width: 1600px;
  height: 200px;
  font-size: 120px;
  box-sizing: border-box;
  margin: 0px;
  text-align: left;
}


.dropbtn > div{
    display: flex;
    margin-top: 20px;

}

.dropdown-content {
  box-sizing: border-box;
  display: none;
  background-color: #f9f9f9;
  width: 1600px;
}

.dropdown-content p {
  color: black;
  text-decoration: none;
  display: block;
  border: 10px solid black;
  border-top: 0px;
  margin:0px;
  box-sizing: border-box;
  line-height: 200px;
  padding-left: 70px;
}

.dropdown-content p:hover {background-color: lightgray}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: grey;
}


/* determined where the triangle goes by setting the width of the text box*/
.dropbtn-text{
    width: 1350px;
}

.triangle-down{
    align-items: flex-end;
}

.add-to-cart {
    margin-top: 500px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.add-to-cart-left{
    /* determine where the in-cart text go by determine the width of the in-cart text box*/
    width: 50%;
    text-align: left;
}

button{
    border: 10px solid black;
    font-size: 120px;
    font-weight: 600;
    background-color: yellow;
    padding-left: 50px;
    padding-right: 50px;
    height: 200px;
}


/*style for shopping cart starts here*/
.shopping-cart img{
    width: 500px;
    border: 20px solid black;

}

.shopping-cart{
    margin: auto;
    text-align: center;
    width: 60%;
    margin-bottom: 500px;
}

.shopping-cart p {
    margin: 10px auto 10px auto;
    text-align: center;
    font-size: 120px;
}

.items-to-be-paid{
    height: auto;
    margin: auto;
    margin-bottom: 250px;
}

p.price{
    margin: 100px auto 100px auto;
}

p.remove{
    font-size: 60px;
    font-weight: 600;
    text-decoration: underline;
    margin: 50px auto 50px auto;
    text-decoration-thickness: 5px;
}

#total-price{
    margin: 100px auto 100px auto;
}

