/* set up default elements for all webpage */

body {
    font-family: Roboto,Arial,Helvetica,sans-serif;
}

p {
    font-size: 24px;
}

/*source: https://www.w3schools.com/css/css_link.asp*/
a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

button {
    border: 2px solid black;
    font-size: 20px;
    font-weight: 600;
    background-color: yellow;
    padding-left: 40px;
    padding-right: 40px;
    height: 50px;
    color:black
}



/* set up header and navigation bar*/
/*note that the navigation bar of cart page is different*/

.logo {
    width: 30%;
    margin:40px;
}

.black-line {
    height: 4px;
    background-color: black;
}

.navigator {
    text-align: center;
    margin-top: 20px;
}

/*making sure that the correct of navigator is being highlighted*/
/*source: https://www.computerhope.com/issues/ch001391.htm*/
.products {
    font-weight: 600;
    background-color: yellow;
    padding: 0;
    display: inline;
    box-shadow: 8px 0 0 yellow, -8px 0 0 yellow;
}

.cart-on-cart-page {
    font-weight: 600;
    background-color: yellow;
    padding: 0;
    display: inline;
    box-shadow: 8px 0 0 yellow, -8px 0 0 yellow;
}



/*the style of title of all three pages*/

.main-content h1 {
    font-size: 28px;
    font-weight: 500;
    margin-top: 80px;
    margin-bottom: 40px;
    text-align: center;
}



/*the style of the product-gallery page starts here*/

.items {
    width: 300px;
    height: auto;
    margin: auto;
}

.items img {
    margin-top: 4px;
    margin-left: 4px;
    width: 292px;
    height: 292px;
    box-sizing: border-box;
    border: 2px solid black;
}

.items p {
    margin: 2px auto 2px auto;
    text-align: left;
    margin-left: 4px;
    font-size: 24px;
}

.item-name {
    text-decoration: underline;
    text-decoration-color: darkolivegreen;
    text-decoration-thickness: 0.96px;
}

/*enabling the hover highlight*/

.individual-item {
    padding-bottom: 4px;
    margin-bottom: 52px;
}



.individual-item:hover {
    background-color: yellow;
}

.individual-item:hover .item-name{
    font-weight: 600;
}



/*style fo the product-detail-page start here*/

/*the section that contains dropdown menu and add to chart part*/
.detailed-content {
    width: 320px;
    margin: auto;
    text-align: left;
    /*determine the margin bottom of product detailed page*/
    margin-bottom:100px ;
}

.image-on-product-detail-page {
    width: 50%;
    border: 2px solid black;
    margin-left: 25%;
    margin-right:25%;
}

/*the style of dropdown menu*/

.dropdown {
    margin-top: 40px;
    margin-bottom: 40px;
    height: auto;
}

.dropdown-box-on-product-detail-page {
    font-size: 24px;
    padding: 8px 8px 8px 8px;
    border-radius: 0px;
    border: 2px solid black;
    width: 320px;
}

/*the style of the add-to-cart* section*/

.add-to-cart {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.add-to-cart-left {
    /* determine where the in-cart text go by determine the width of the in-cart text box*/
    width: 34%;
    text-align: left;
}

.price-to-be-paid {
    font-weight: 600;
}



/*style for shopping cart starts here*/

.shopping-cart img {
    width: 120px;
    border: 2px solid black;
}

.shopping-cart {
    margin: auto;
    text-align: center;
    width: 60%;
    margin-bottom: 100px;
}

.shopping-cart p {
    margin: 2px auto 2px auto;
    text-align: center;
    font-size: 24px;
}

.items-to-be-paid {
    height: auto;
    margin: auto;
    margin-bottom: 50px;
}

p.price {
    margin: 20px auto 20px auto;
}

p.remove {
    font-size: 12px;
    font-weight: 600;
    text-decoration: underline;
    margin: 5px auto 10px auto;
    text-decoration-thickness: 0.5px;
}

p.total-price {
    margin: 25px auto 20px auto;
}
