@media only screen and (min-width: 600px) {

.basic-information p{
    margin: 3px;
    opacity: 0.8;
    font-style: italic;
}

.basic-information{
  margin-bottom: 50px;
}

.image img{
    max-width: 100%;
    text-align: center;
    cursor: zoom-in;
}

.image{
  margin-bottom: 50px;
}


.image-flex{
    display:flex;
    justify-content: center;
}

#experiential{
    width: 55%;
    margin-right: 10px;
}

#walk-through{
    width:25%;
    margin-left: 10px;
}

#claw-iteration{
  width: 50%;
  margin-left: 25%;
}

.annotation, .annotation-on-both{
  opacity: 0.8;
  text-align: center;
  margin: 20px;
  font-style: italic;
}

.annotation p, .annotation-on-both p{
  margin: 3px;
}

.landscape-images-left{
  width: 40%;
  margin-right: 10px;
}

.landscape-images-right{
  width: 40%;
  margin-left: 10px;
}

.column-left{
  width: calc(80% / 3);
  margin-right: 10px;
}

.column-middle{
  width: calc(80% / 3)
}

.column-right{
  width: calc(80% / 3);
  margin-left: 10px;
}

.description{
  margin-bottom: 50px;

}

.big-image{
  width: calc(80% + 20px);
  margin-left: calc(10% - 10px);
}
}

.annotation-mobile{
  display: none;
}