@media only screen and (max-width: 599px) {

.basic-information{
  margin-top: 20px;
}

.basic-information p{
    margin: 2px;
    font-style: italic;
}

.basic-information{
  margin-bottom: 50px;
}

.image img{
    max-width: 80%;
    border-radius: 10px;
}

.image{
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#image-special-margin{
  margin-bottom: 0px;
}

.image-flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


#walk-through{
    display: none;
}

.annotation{
  display: none;
}


.annotation-mobile, .annotation-on-both{
  display: block;
  text-align: center;
  margin: 5px;
  font-style: italic;
}

.annotation-on-both p{
  margin: 2px;
}

.landscape-images-left{
  width: 100%;
}

.landscape-images-right{
  width: 100%;
}

.description{
  margin-bottom: 30px;

}

.big-image{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

}
