/* set up default elements for all webpage */

body {
    font-family: Roboto,Arial,Helvetica,sans-serif;
}

p {
    font-size: 18px;
}

/*adjust the style of hyper-linl*/
/*source: https://www.w3schools.com/css/css_link.asp*/
a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}


/* set up header*/
.header{
    position:fixed;
    background-color: white;
    min-width: 100%;
    margin-top: 0px;
}

.logo {
    width: 80px;
    margin: 8px;
}

.navigator-and-logo{
    display:flex;
    justify-content: flex-end;
    /*this part enables navigator bar to line up with the right margin of the page*/
    flex-grow: 1;
    flex-grow: 1;
    /*make sure the logo and the text is in the center*/
    align-items: center;
}

.navigator {
    /*this part makes sure that logo goes to left margin and navigator goes to right margin*/
    /*with out it, the logo would go too close to navigator*/
    flex-grow: 1;
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

/*making sure that the correct of navigator is being highlighted*/
/*source: https://www.computerhope.com/issues/ch001391.htm*/
/*use javascript to fix this part later: https://www.youtube.com/watch?v=mP2LnkOqLHk*/
.architecture {
    font-weight: 600;
    margin: 30px 50px 30px 50px;
}

.art{
    margin: 30px 50px 30px 50px;
}

.about-me{
    margin: 30px 50px 30px 50px;
}

.architecture-on-art {
    margin: 30px 50px 30px 50px;
}

.art-on-art{
    font-weight: 600;
    margin: 30px 50px 30px 50px;
}

.about-me-on-art{
    margin: 30px 50px 30px 50px;
}


.architecture-on-about {
    margin: 30px 50px 30px 50px;
}

.art-on-about {
    margin: 30px 50px 30px 50px;
}

.about-me-on-about{
    font-weight: 600;
    margin: 30px 50px 30px 50px;

}



/*the style of title*/

.title{
    font-size: 28px;
    /*control the spacing between title and navigator*/
    margin-top: 20px;
    /*control the spacing between title and main-content*/
    margin-bottom: 100px;
    margin-left: 20px;
}


/*the style of the gallery page starts here*/



.row{
    height:460px;
    display: flex;
    justify-content: space-evenly;
}

.notable-project{
    /*control the distance between notable project and other projects*/
    margin-bottom: 50px;
}

.notable-project img{
    width:100%;
    object-fit: cover;
    object-position: 0 70%;
    height: 550px;
}

/*NOT USEFUL FOR NOW
/*
.projects p {
    margin: 2px auto 2px auto;
    text-align: left;
    margin-left: 4px;
    font-size: 24px;
}

.item-name {
    text-decoration: underline;
    text-decoration-color: darkolivegreen;
    text-decoration-thickness: 0.96px;
}

.individual-item {
    padding-bottom: 4px;
    margin-bottom: 52px;
    width: 300px;
    margin: auto;
} 

enabling the hover highlight
.individual-item:hover {
    background-color: yellow;
}

.individual-item:hover .item-name{
    font-weight: 600;
}*/

.bigger-item{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 25px 15px 25px 15px
}

.smaller-item{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 25px 15px 25px 15px
}

.bigger-item img{
    margin: auto;
    object-fit: cover;
    object-position: 50% 50%;
    width: 100%;
    min-height: 400px;
}

.smaller-item img{
    margin: auto;
    object-fit: cover;
    object-position: 50% 50%;
    width: 100%;
    min-height: 400px;
}




/*style fo the product-detail-page start here*/




/*style for shopping cart starts here*/
/* temp delete all